@model IEnumerable<MovieViewModel>

@{
    ViewData["Title"] = "Movies";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New Movie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            @{
                var routeData = new Dictionary<string, string>
                {
                    ["movieId"] = $"{item.Id}",
                };
            }
            <td>
                <a asp-action="Screenings" asp-all-route-data="routeData">Screenings</a>
            </td>
        </tr>
        }
    </tbody>
</table>
